{% extends 'tourist/base.html' %}

{% block content %}
<h1>Біз туралы</h1>
    <h3>Біздің жоба Қазақстанның әдемі жерлерімен тамсанып, мәдениетімен танысқысы келетін шетелдік туристтер үшін таптырмас қосымша.</h3>
    <p>* Сайтта сіз үшін ойын сауық пен табиғат секілді категориялар қарастырылған.</p>
    <br>
    <p>* Егер қандай да бір жаңа ерекше орындарды тапқан болсаңыз, біздің сайтқа тіркеліп,  мақала қосу пәрменіне жазба қалдырсаңыз болады. </p>
    <br>
    <p>* Сонымен қатар Қазақстанның көркем жерлерін қарастыру барысында сұрақтарыңыз пайда болған жағдайда, сіз кез келген уақытта бізге кері байланыс жасай аласыз.</p>


{% endblock %}
